.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    border: 2px solid black;
}
.box {
    border: 2px solid black;
    width: 50px;
    height: 75px;
    text-align: center;
}
.box-upper {
    border: 2px solid red;
    color: red;
}
.box-side {
    border: 2px solid red;
    flex-wrap: nowrap;
    color: gray;
    justify-content: space-between;
    margin: 50px;
}
.box-middle {
    border: 2px solid red;
    flex-wrap: nowrap;
    color: green;
    justify-content: space-between;
    margin: 30px;
}
.box-end  {
    border: 2px solid red;
    flex-wrap: nowrap;
    color: palevioletred;
    justify-content: space-between;
    margin: 70px;
}
.flex-container {
    color: aqua;
}