
.box-upper {
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content:space-between;
}
.box {
width: 20px;
height: 50px;
border: 2px solid black;
}
.top-left {
    border: 2px solid red;
}
.top-right {
    border: 2px solid red;
width: 100px;
height: 150px;

}