body {
   
    background-color: aqua;
}
.nav {
    color: chartreuse;
    background-color: red;
}
/* .title {
    color: chartreuse;
    border: 5px solid chartreuse; */

.header {
    box-shadow: 10px 5px 5px palevioletred;
    color: chartreuse;
    border: 5px solid chartreuse;
    background-color: red;
}
.footer {
    color: rebeccapurple;
    border: 5px solid rebeccapurple;
    justify-content: end;
}
.link {
    box-shadow: 10px 5px 5px palevioletred;
}
.link:hover {
        color: whitesmoke;
}

/* ################################ */
/* ########    FORM    ############ */
/* ################################ */
form {
    width: 90%;
    margin: 3em auto;
}
label {
    display: block;
}
.wheather {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    padding: .5rem .75rem;
    background-color: blue;
    align-items: center;
    border-radius: 20px;
    width: 350px;
}

.place {
   margin-right: 10px;
}
.date {
    margin-right: 15px;
}
.icon {
    
}

.right-side {
    
    
}


.joke-button {
    cursor: pointer;
    padding: .5rem .75rem;
    background-color: #ea5353;
    width: 30px;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 10rem;
}

.start {
    text-align: center;
    font-size:  larger;
    font-weight:bolder;
}

.sub {
    text-align: center;
    font-weight: bold;
}

.address1 {
    font-size: small;
    color: red;
}

.right {
    text-align: right;
   justify-content: flex-start;
}
.sideways {
    display: flex;
    padding: 5px;
    margin: 5px;
}

.phone {
    font-weight: bolder;
}
.straight {
    display: block;
}


/* .card {
    /* position: sticky; */
    /* position: absolute; */
    /* top: 20px; */
   
    /* left: 5%;   */
    /* height: 50px;
    width: 50px;
    background-color: chartreuse;
    box-shadow: 3px 3px 5px  0 rgb(0, 0, 0, 1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} */ 
/* .top {
    position: relative;
    height: 200px;
     width: 400px; 
    background-color: chartreuse;
}
.bottom {
    height: 200px;
     width: 400px; 
    background-color: chartreuse;
} */
.midterm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cards {
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.card {
    display: flex;
    justify-content: column;
    align-items: column;
    flex-direction: column;
}
.top-card {
    max-width: 1440px;
    min-width: 375px;
    /* position: absolute; */
    /* right: 550px; */
    /* height: 300px; */
    width: 350px;
    background-color: white;
    border-radius: 20px;
    
    box-shadow: 5px 5px 5px 5 rgb(#ea5353, #ea5353,#ea5353);
    
}

.left-card{
    max-width: 1440px;
    min-width: 375px;
    /* position: absolute; */
    /* align-self: left; */
    /* left: 70px;
    bottom: 150px; */
    /* height: 300px; */
    width: 300px;
    border-radius: 20px;
   
    background-color: blue;
}

.right-card {
    max-width: 1440px;
    min-width: 375px;
    /* position: absolute; */
    /* right: 30px;
    bottom: 150px; */
    /* height: 300px; */
    width: 350px;
    background-color: blueviolet;
    border-radius: 20px;
    
}

.bottom-card {
    max-width: 1440px;
    min-width: 375px;
    /* position: absolute; */
    /* top: 750px;
    left: 500px; */
    /* height: 300px; */
    width: 350px;
    background-color: rgb(170, 170, 7);
    border-radius: 20px;
   
}
.middle-cards {
    max-width: 1440px;
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.right-box {
    max-width: 1440px;
    min-width: 375px;
display: flex;
justify-content: right;
align-items: center;
}

.side-header {
    font-weight: lighter;
    color: lightgray;
}

.sup-img {
    height: 50px;
    width: 50px;
}
.box-head-2 {
    font-weight: bolder
}

/* :root {
     
} */
.sign-up-form {
    display: flex;
    flex-direction: block;
    border-radius: 10px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: white;
    max-width: 1440px;
    min-width: 375px;
}

.purple-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 10px;
    color: white;
    font: poppins;
    background-color: hsl(248, 32%, 49%) ;
    max-width: 1440px;
    min-width: 375px;
}
.main-box {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    min-width: 375px;
}
.terms {
    color: gray;
    font-weight: lighter;
}
.button {
    margin-top: 5px;
    color: white;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
}
.side-words {
    color: floralwhite;
    background-color: #ea5353;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1440px;
    min-width: 375px;
}