* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(184, 209, 231);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    padding: .75em 0;
}

.choice-container div {
    width: 45%;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 1em;
    /* clamp(min(fixed), preferred(rel), max(fixed)) */
    font-size: clamp(14px, 3vw, 40px);
}

img {
    width: 90%;
    height: auto;
    margin: 1em 0;
}

button {
    margin: 1em .5em;
    padding: .5em .75em;
    font-size: clamp(16px, 3vw, 32px);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(80, 80, 224);
    color:rgb(197, 212, 226)
}