body {
    background-color: red;
}
.title {
    text-align: center;
}

.description {
  text-align: center;
  background-color: red;
}
.where {
    text-align: center;
    color: purple;
    font-size: xx-large;
}
.end {
    color: purple;
    text-align: center;
    margin: auto;
}

/* margin: 0 auto centers text on screen */